name: Compilar APK Imperio Final
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: |
          pip install flet
          flet build apk
      - uses: actions/upload-artifact@v4
        with:
          name: App-Imperio-Final
          path: build/apk/*.apk
